In [1]:
import numpy as np
import pandas as pd
import os
from sklearn.model_selection import train_test_split

os.chdir('../')

In [2]:
def parse_label_csv(file, columns=None):
    if columns is None:
        columns = ["epoch_time", "label"]
    df = pd.read_csv(file, sep="\t", header=None)
    df.columns = columns
    return df

df = parse_label_csv('./data/train/Label.txt')

In [3]:
df

           epoch_time  label
0       1490431583000      4
1       1490431584000      4
2       1490431585000      4
3       1490431586000      4
4       1490431587000      4
...               ...    ...
980522  1499267848000      5
980523  1499267849000      5
980524  1499267850000      5
980525  1499267851000      5
980526  1499267852000      5

[980527 rows x 2 columns]

In [4]:
# Save prepared data to csv
df.to_parquet('data/train/Label.parquet')

# Prepare train-test split for train dataset
label_train, label_test = train_test_split(df, test_size=0.1, random_state=42)
label_train.to_parquet('data/train/Label_train.parquet')
label_test.to_parquet('data/train/Label_test.parquet')

parse_label_csv('data/validate/Label.txt').to_parquet('data/validate/Label.parquet')
parse_label_csv('data/test/Label_idx.txt', columns=["epoch_time"]).to_parquet('data/test/Label_idx.parquet')