In [1]:
import numpy as np
import pandas as pd
import os

os.chdir('../')

In [2]:
label_df = pd.read_csv('./data/train/Label.txt', sep="\t", header=None)
label_df.columns = ["epoch_time", "label"]

In [3]:
label_df.head()

      epoch_time  label
0  1490431583000      4
1  1490431584000      4
2  1490431585000      4
3  1490431586000      4
4  1490431587000      4

In [4]:
label_df.shape

(980527, 2)

In [5]:
# Save prepared data to csv
label_df.to_csv('./data/train/Label.csv', index=False)