In [2]:
import numpy as np
import pandas as pd
import os

os.chdir('../')

## Location dataframe

In [2]:
location_df = pd.read_csv('./data/train/Location.txt', sep=" ", header=None)
location_df.drop(location_df.columns[1:3], axis=1, inplace=True)
location_df.columns = ["epoch_time", "accuracy", "Latitude", "Longitude", "Altitude"]

In [3]:
location_df.head()

      epoch_time  accuracy   Latitude  Longitude    Altitude
0  1490431658118      64.0  50.844494  -0.132922   97.664610
1  1490431659760      48.0  50.844491  -0.132924  128.267900
2  1490431660766      48.0  50.844481  -0.132931  135.611425
3  1490431661765      12.0  50.844469  -0.132930  134.436050
4  1490431662768      32.0  50.844267  -0.132787  135.993866

In [4]:
location_df.shape

(911109, 5)

In [5]:
# Save prepared data to csv
location_df.to_parquet('./data/train/Location.parquet')